/* responsive design */



@media( max-width: 600px){
    .navbar ul{
        flex-wrap: wrap;
    }

    .navbar-toggle{
        display: block;
    }

    .navbar-links{
        display: none;
        width: 100%;
        text-align: center;
    }

    .active{
        display: block;
    }

    .content form{
        flex-direction: column;
    }

    .content form input[type=text]{
    margin-bottom: 20px;
    width: 100%;
    }
    .content form input[type=submit]{
        width: 100%;
    }

    /* .content{
        flex-direction: column;
    }

    .box1,.box2{
        margin-top: 5px;
        width: 100%;
    } */


    .container{
        width: 95%;
        margin: 10px auto;
    }


.middle-box input{
    width: 100%;
}


.sectionAddons{
    /* flex-direction: column;
    justify-content: flex-start;
    width: 100%; */

    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    /* background-color: red; */
}

.addons_content{
    height: 200px;
    width: 100%;
}

footer{
    flex-direction: column;
}



.login-container form{
    width: 80%;
}





.dashboard-content{
    flex-direction: column;
}

.section-one .box-one form{
    flex-direction: column;
}
.section-one .box-one form input[type=text]{
 width:100%;
 margin-bottom: 10px;
}

.section-one .box-one form input[type=submit]{
    width:100%;
    margin-left:0;
}




.section-one .box-two form{
    flex-direction: column;
}
.section-one .box-two form input[type=text]{
 width:100%;
 margin-bottom: 10px;
}

.section-one .box-two form input[type=submit]{
    width:100%;
    margin-left:0;
}


.main-board{
    height:1000px;
}
}


