{% extends 'base.html' %}
    {% block content %} 
   
    <div class="container guess_content">
        <h1>Your Shortned URL</h1>
        <p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>

        <div class="content">
            <form onsubmit = "event.preventDefault();">
            
                <input type="text" placeholder="Enter link here" value="{{ url_for('main.redirect_to_url', short_url = new_link, _external=True) }}"
                id="myInput"
                />
        
               
            
                <input type="submit" value="COPY URL"
                onclick="myFunction()"
               id="copybtn" />
        

           </form>
        </div>


        <div class="detail_url">

           <p> <strong>Long URL:</strong> {{ original_url }} <br /> </p>
         

           <p> <strong> To keep Track of the Total of Click in real time  from your shortned just create an Account. </strong></p>
          
           <a href="{{ url_for('auth.signup') }}"><input type="button" value="Create Account" /></a>

            
        </div>

        <!-- <div class="shareBox">
         <h1> Share your URL</h1>  
            <span><a href="#">Facebook</a></span> 
            <span><a href="#">Twitter</a></span> 
         </div> -->
    </div>




    {% endblock %}